@import "../../global.scss";

.bio {
	background-color: snow;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mobile {
		gap: 10px;
	}
	h1 {
		font-size: 60px;
		@include mobile {
			font-size: 40px;
			height: 75px;
		}
	}

	ul {
		margin: 30px;
		padding: 0;
		list-style: none;
		display: flex;
		@include mobile {
			margin: 5px 0;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 55px;
		}
	}

	.container {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		scrollbar-width: none; // for firefox
		margin-top: 50px;
		@include mobile {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 40px;
		}

		&::-webkit-scrollbar {
			display: none;
		}
		.top {
			display: flex;
			width: 80%;
			@include mobile {
				flex-direction: column;
				width: 75%;
			}
			.left {
				flex: 4;
				justify-content: center;
				align-items: center;
				img {
					width: 350px;
					border-radius: 20px;
					@include mobile {
						width: 99%;
						height: 350px;
                        margin-bottom: 15px;
					}
				}
				@include mobile {
					flex: none;
				}
			}
			.right {
				flex: 7;
				display: flex;
				flex-direction: column;
				justify-content: center;
				span {
					text-indent: 32px;
					font-size: 22px;
					font-weight: 500;
					@include mobile {
						font-size: 16px;
					}
				}
				@include mobile {
					flex: none;
				}
			}
		}
		.mid {
			width: 80%;
			margin-top: 20px;
			display: flex;
			span {
				text-indent: 32px;
				font-size: 22px;
				font-weight: 500;
				@include mobile {
					font-size: 16px;
				}
			}
			@include mobile {
				width: 75%;
			}
		}
		.thumbnail {
			width: 500px;
			border: 1px solid black;
			border-radius: 10px;
			overflow: hidden;
			@include mobile {
				width: 98%;
				margin-left: 1%;
			}
		}
	}
}
