@import "../../global.scss";

.topbar {
	background-color: snow;
	color: $mainColor;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 3;
	transition: all 1s ease;

	.wrapper {
		padding: 10px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			display: flex;
			flex-direction: row;
			align-items: center;

			.logo {
				font-size: 40px;
				font-weight: 900;
				text-decoration: none;
				color: inherit;
				margin-right: 60px;
			}

			.itemContainer {
				display: flex;
				align-items: center;
				flex-direction: row;

				@include mobile {
					display: none;
				}

				.icon {
					font-size: 20px;
					margin-right: 10px;
				}

				span {
					font-size: 16px;
					font-weight: 500;
				}
				&.active {
					@include mobile {
						display: flex; // Display on mobile when .active class is added
					}
				}
			}
		}

		.right {
			.hamburger {
				padding: 5px;
				width: 34px;
				height: 40px;
				display: flex;
				flex-direction: column;
				gap: 8px;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				span {
					width: 100%;
					height: 5px;
					background-color: $mainColor;
					transform-origin: left;
					transition: all 1s ease;
				}
			}
		}
	}

	&.active {
		background-color: $mainColor;
		color: snow;

		.hamburger {
			span {
				&:first-child {
					background-color: snow;
					transform: rotate(50deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					background-color: snow;
					transform: rotate(-50deg);
				}
			}
		}

		.itemContainer {
			display: flex;
			@include mobile {
				display: flex;
			}
		}

		@include mobile {
			.logo {
				display: none;
			}
		}
	}
}
