.intro {
	background-color: white;
	display: flex;

	.left {
		flex: 0.5;
		display: flex;
		align-items: center;
		justify-content: center;

		.imgContainer {
			width: 900px;
			height: 900px;
			overflow: hidden;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			background-color: rgb(180, 141, 234);
			border-radius: 50%;
			float: right;
			img {
				width: 90%;
			}
		}
	}

	.right {
		flex: 0.5;
		position: relative;
		.wrapper {
			width: 100%;
			height: 100%;
			padding-left: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;

			h1 {
				font-size: 60px;
			}
			h2 {
				font-size: 35px;
			}
			h3 {
				font-size: 30px;
			}
		}
		a {
			position: absolute;
			bottom: 10px;
			left: 45%;
			img {
				width: 60px;
				animation: arrowBlink 2s infinite;
			}

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }

            }
		}
	}
}
